html {
  overflow-y: scroll;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f0f0f0;
  color: #2e2e2e;
}

a {
  color: #2e2e2e;
  text-decoration: none;
}

p {
  color: #2e2e2e;
}

* {
  box-sizing: border-box;
}

.MuiFormLabel-root {
  color: #d7f0f5;
}

.MuiDrawer-paper {
  background-color: #83a3a9;
}
